article#content.market-search-buy
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-search-buy__head
      h1.market-search-buy__title.page-head__title(itemprop='name')= self.t('title')

      != self.partial('@market.search.buy.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form_buy')

    select.market-search-buy__select-order.form-control.custom-select(
      onchange="$('.market-search-form-buy__submit').click();"
    )
      option(value='rel', selected=self.search.sort === 'rel')= self.t('order_by_rel')
      option(value='date', selected=self.search.sort === 'date')= self.t('order_by_date')
      option(value='price', selected=self.search.sort === 'price')= self.t('order_by_price')

    .market-search-buy__sections
      //- TODO

    if self.items && self.items.length
      ul.market-search-buy__item-list
        != self.partial('@market.blocks.search_item_offer_list')
    else
      p.market-search-buy__no-items
        if self.search_error
          != self.search_error
        else
          != self.t('no_items')
