- self.add_raw_data('item', self.item)
- self.add_raw_data('settings', self.settings)
- self.add_raw_data('parse_options', self.parse_options)

article#content.market-item-wish-edit
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    form#market-edit-form(novalidate, data-bind='submit: submit, css: { "was-validated": showErrors }')
      fieldset
        .row
          .col.mb-3
            label.form-label.market-item-wish-edit__label(for='market-edit-title')= self.t('field_title')
            input.form-control#market-edit-title(type='text', data-bind="textInput: offer.title", required)

        mixin sections_tree(sections, deepness)
          each section in sections

            - var prefix = Array(deepness).join('\u2003\u2003');

            option(
              disabled=section.is_category
              value=section._id
            )=prefix + section.title

            if section.children && section.children.length
              +sections_tree(section.children, deepness + 1)

        .row
          .col.mb-3
            label.form-label.market-item-wish-edit__label.market-item-wish-edit__label-description(for='market-edit-section')= self.t('field_section')
            select.form-control.form-select#market-edit-section(data-bind="value: offer.section", required)
              option(value="", disabled, selected, hidden)= self.t('section_placeholder')
              +sections_tree(self.sections, 1)

        .row
          .col.mb-3
            .market-item-wish__preview-controls
              label.form-label.market-item-wish__label(for='market-edit-description')= self.t('field_description')
              a.market-item-wish__preview-btn.btn.btn-sm(
                data-bind='click: togglePreview, css: { "btn-outline-success": showPreview(), "btn-link": !showPreview() }'
              )=self.t('mode_preview')

            textarea.form-control#market-edit-description(rows=5, data-bind='textInput: offer.description, visible: !showPreview()', required)
            .market-item-wish__preview.markup(data-bind='html: previewHtml, visible: showPreview()')
            .form-text!= self.t('field_description_help', { link: self.link_to('common.faq_markup') })

        .row
          .col
            button.btn.btn-primary(type='submit', data-bind='enable: isDirty() && !isSubmitting()')= self.t('submit')
