- self.add_raw_data('item', self.item)
- self.add_raw_data('settings', self.settings)
- self.add_raw_data('parse_options', self.parse_options)

article#content.market-item-wish-edit
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    form#market-edit-form(novalidate, data-bind='submit: submit, css: { "was-validated": showErrors }')
      fieldset
        .row
          .form-group.col
            label.market-item-wish-edit__label(for='market-edit-title')= self.t('field_title')
            input.form-control#market-edit-title(type='text', data-bind="textInput: offer.title", required)

        mixin sections_tree(sections, deepness)
          each section in sections

            - var prefix = Array(deepness).join('\u2003\u2003');

            option(
              disabled=section.is_category
              value=section._id
            )=prefix + section.title

            if section.children && section.children.length
              +sections_tree(section.children, deepness + 1)

        .row
          .form-group.col
            label.market-item-wish-edit__label(for='market-edit-section')= self.t('field_section')
            select.form-control.custom-select#market-edit-section(data-bind="value: offer.section", required)
              option(value="", disabled, selected, hidden)= self.t('section_placeholder')
              +sections_tree(self.sections, 1)

        .row
          .form-group.col
            ul.market-item-wish-edit__tabs.nav.nav-tabs
              li.nav-item
                span.market-item-wish-edit__label.nav-link.disabled= self.t('field_description')
              li.nav-item
                a.nav-link(href='#', data-bind='click: togglePreview.bind($data, false), css: { "active": !showPreview() }')=self.t('mode_edit')
              li.nav-item
                a.nav-link(href='#', data-bind='click: togglePreview.bind($data, true), css: { "active": showPreview() }')=self.t('mode_preview')

            textarea.form-control#market-edit-description(rows=5, data-bind='textInput: offer.description, visible: !showPreview()', required)
            .market-item-wish-edit__preview.markup(data-bind='html: previewHtml, visible: showPreview()')

        .row
          .form-actions.col
            button.btn.btn-primary(type='submit', data-bind='enable: isDirty() && !isSubmitting()')= self.t('submit')
