- self.add_raw_data('settings',   self.settings)
- self.add_raw_data('pagination', self.pagination)

article#content.market-section-sell(
  data-keymap= {
    'home': 'market.section.sell:nav_to_start',
    'end':  'market.section.sell:nav_to_end'
  }
  data-last-item-hid= self.last_item_hid
  data-top-marker=    self.items && self.items.length > 0 ? self.items[0]._id : null
  data-bottom-marker= self.items && self.items.length > 0 ? self.items[self.items.length - 1]._id : null
)
  -
    var navbar_args = {
      title:    self.section.title,
      level_up: self.parent_hid ?
                self.link_to('market.section.sell', { section_hid: self.parent_hid }) :
                self.link_to('market.index.sell'),
      toolbar:  'market.section.sell.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('market.section.sell', { section_hid: self.section.hid }),
        link_bottom: self.link_to('market.section.sell', { section_hid: self.section.hid, $query: { from: self.last_item_hid } }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      }
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-section-sell__head
      h1.market-section-sell__title.page-head__title(itemprop='name')= self.section.title

      != self.partial('@market.section.sell.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form')
    
    .market-section-sell__subsections
      each section in self.subsections || []
        .market-section-sell__subsection(
          class=section.is_linked ? 'market-section-sell__linked' : ''
        )
          a.market-section-sell__subsection-title(
            href=self.link_to('market.section.sell', { section_hid: section.hid })
          )= section.title

          span.market-section-sell__subsection-count
            = ' '
            = (section.cache || {}).offer_count || 0

    if self.section.is_category === false || (self.items && self.items.length)
      if self.items && self.items.length
        .market-section-sell__loading-prev.nojs-hide(
          class=(self.pagination.chunk_offset === 0 ? 'd-none' : '')
        )
          span.icon.icon-loading-placeholder

        ul.market-section-sell__item-list._affix(
          data-affix-top={
            offset:     500,
            wire_above: 'market.section.sell:load_prev',
            throttle:   100
          }
          data-affix-bottom={
            offset:     500,
            wire_below: 'market.section.sell:load_next',
            throttle:   100
          }
        )!= self.partial('@market.blocks.items_sell_list')

        .market-section-sell__loading-next.nojs-hide(
          class=(self.items && self.items.length > 0 && self.items[self.items.length - 1].hid === self.last_item_hid ? 'd-none' : '')
        )
          span.icon.icon-loading-placeholder

        nav.pager.js-hide
          if self.head.prev
            a.btn.btn-secondary(href=self.head.prev)= self.t('prev_page')

          if self.head.next
            a.btn.btn-secondary(href=self.head.next)= self.t('next_page')
      else
        p.market-section-sell__no-items
          != self.t('no_items')
