- self.add_raw_data('settings', self.settings)

- self.users = self.users || {};
- self.infractions = self.infractions || {};
- self.own_bookmarks = self.own_bookmarks || [];

- var user = self.users[self.item.user] || {};

article#content.market-item-buy(
  class=(self.own_bookmarks.indexOf(self.item._id) !== -1) ? 'market-item-buy__m-bookmarked' : ''
)
  -
    var navbar_args = {
      level_up: self.link_to('market.section.buy', { section_hid: self.section.hid, $query: { from: self.item.hid } })
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-item-buy__head
      h1.market-item-buy__title.page-head__title(itemprop='name')= self.item.title

      .market-item-buy__info
        .market-item-buy__info-item!= self.timetag(self.item.ts, 'relative')
        .market-item-buy__info-item
          if user
            a.market-item-buy__user-link._ucard-popover(
              href=self.link_to('users.member', { user_hid: user.hid })
              data-user-id=user._id
              data-user-ref='market_item_buy:'+self.section.hid+':'+self.item.hid
            )
              = user.name

      != self.partial('@market.item.buy.blocks.toolbar_controls')

    .market-item-buy__description.markup!= self.item.html

    .market-item-buy__details
      if self.item.location
        .market-item-buy__details-item
          .market-item-buy__details-key= self.t('location')
          .market-item-buy__details-value
            a.market-item-buy__location-link(
              href= '#'
              data-on-click= 'common.blocks.location_show_dlg'
              data-latitude= self.item.location && self.item.location[1]
              data-longitude= self.item.location && self.item.location[0]
            )
              span.icon.icon-location.icon-space-after

              if self.location_name
                = self.location_name

    footer.market-item-buy__controls
      ul.market-item-buy__controls-blk

      li.market-item-buy__control-item.market-item-buy__ts
        != self.timetag(self.item.ts, 'relative')

        - var infraction = self.infractions[self.item._id];
        if infraction
          li.market-item-buy__control-item.market-item-buy__infraction(
            class=infraction.points === 0 ? 'market-item-buy__infraction-m-warning' : ''
          )
            a.btn.market-item-buy__action(
              title=self.t('infraction_title', { points: infraction.points, date: self.date(infraction.ts, 'datetime') })
              href=self.link_to('users.member', { user_hid: user && user.hid }) + '#infraction' + infraction._id
            )
              span.icon.icon-infraction

        if self.settings.can_report_abuse
          li.market-item-buy__control-item
            button.btn.market-item-buy__action.market-item-buy__report(
              title=self.t('report')
              data-item-id=self.item._id
              data-on-click='market.item.buy:report'
            )
              span.icon.icon-report

      if self.runtime.is_member
        li.market-item-buy__control-item.market-item-buy__bookmark
          button.btn.market-item-buy__action.market-item-buy__bookmark-add(
            data-on-click='market.item.buy:item_bookmark'
            data-item-id=self.item._id
            title=self.t('bookmark_add')
          )
            span.icon.icon-bookmark
            span.market-item-buy__bookmarks-count(data-bm-count=self.item.bookmarks)

          button.btn.market-item-buy__action.market-item-buy__bookmark-remove(
            data-on-click='market.item.buy:item_bookmark'
            data-item-id=self.item._id
            data-remove='true'
            title=self.t('bookmark_remove')
          )
            span.icon.icon-bookmark
            span.market-item-buy__bookmarks-count(data-bm-count=self.item.bookmarks)

      li.market-item-buy__control-item.market-item-buy__views
        span.icon.icon-views.icon-space-after(
          title=self.t('views')
        )
          = self.item.views

      - var showDropdown = false
      - showDropdown = showDropdown || self.settings.market_mod_can_add_infractions
      - showDropdown = showDropdown || self.settings.can_see_ip

      if showDropdown
        //- no aria parts - visible to moderators only
        .market-item-buy__control-item.market-item-buy__mod-menu.dropdown.dropup
          button.btn.btn-square.market-item-buy__action.dropdown-toggle(
            data-toggle='dropdown'
            role='button'
          )
          .dropdown-menu.dropdown-menu-right(role='menu')
            if self.settings.market_mod_can_add_infractions
              button.dropdown-item(
                data-on-click='market.item.buy:add_infraction'
                data-item-id=self.item._id
              )= self.t('add_infraction')

            if self.settings.can_see_ip
              button.dropdown-item(
                data-item-id=self.item._id
                data-on-click='market.item.buy:show_ip'
              )= self.t('ip_info')

    .market-item-buy__responses
      if user && user._id === self.runtime.user_id
        = self.t('no_responses')

      else if self.runtime.is_member
        button.btn.btn-secondary= self.t('contact')

    if self.similar_items && self.similar_items.length > 0
      .market-item-buy-similar
        .market-item-buy-similar__header= self.t('similar_items')

        ul.market-item-buy-similar__item-list
          each s in self.similar_items
            li.market-item-buy-similar-item
              a.market-item-buy-similar-item__title(href=self.link_to('market.item.buy', { section_hid: s.section_hid, item_hid: s.item.hid }))
                = s.item.title
