- var itemStatuses = '$$ JSON.stringify(N.models.market.ItemOffer.statuses) $$'
- var isOpen = (self.item.st === itemStatuses.OPEN || self.item.ste === itemStatuses.OPEN)
- var isClosed = (self.item.st === itemStatuses.CLOSED || self.item.ste === itemStatuses.CLOSED)

- self.add_raw_data('settings', self.settings)
- self.add_raw_data('section_hid', self.section.hid)

- self.users = self.users || {};
- self.infractions = self.infractions || {};
- self.own_bookmarks = self.own_bookmarks || [];

- var user = self.users[self.item.user] || {};

article#content.market-item-buy(
  class=isOpen ? 'market-item-buy__m-open' : ''
  class=isClosed ? 'market-item-buy__m-closed' : ''
  class=(self.item.st === itemStatuses.DELETED) ? 'market-item-buy__m-deleted' : ''
  class=(self.item.st === itemStatuses.DELETED_HARD) ? 'market-item-buy__m-deleted-hard' : ''
  class=(self.own_bookmarks.indexOf(self.item._id) !== -1) ? 'market-item-buy__m-bookmarked' : ''
)
  -
    var navbar_args = {};

    if (isOpen) {
      navbar_args.level_up = self.link_to('market.section.buy', { section_hid: self.section.hid, $query: { from: self.item.hid } });
    } else {
      navbar_args.level_up = self.link_to('market.user.buy_closed', { user_hid: user.hid, $query: { from: self.item.hid } });
    }

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    if isOpen && user && user._id === self.runtime.user_id && self.item.autoclose_at_ts
      .market-item-buy__renew.alert.alert-info
        -
          // make sure timestamp is set in the future (or at least now)
          var date = Math.max(new Date(self.item.autoclose_at_ts), Date.now());
          // round timestamp down to nearest hour (exact time is meaningless if task is delayed)
          date = new Date(date - date % (60 * 60 * 1000));
        != self.t('renew_text', { interval: self.timetag(date, 'relative_days') })
        if Math.abs(new Date(self.item.autoclose_at_ts) - new Date(Date.now() + (self.settings.market_items_expire * 24 * 60 * 60 * 1000))) >= 24 * 60 * 60 * 1000
          a.market-item-buy__renew-btn(
            href='#'
            data-on-click='market.item.buy:renew'
            data-item-id=self.item._id
          )= self.t('renew_btn')

    header.page-head.market-item-buy__head
      .market-item-buy__title-toolbar
        h1.market-item-buy__title.page-head__title(itemprop='name')
          span.market-item-buy__closed-mark.icon.icon-closed.icon-space-after(title=self.t('closed'))

          span.market-item-buy__title-text= self.item.title

          if (self.item.user === self.runtime.user_id && self.settings.market_can_create_items && isOpen) || self.settings.market_mod_can_edit_items
            a.market-item-buy__edit.icon.icon-edit(
              href=self.link_to('market.item.buy.edit', { section_hid: self.section.hid, item_hid: self.item.hid })
              title=self.t('edit')
            )

        .market-item-buy__price
          - var price = self.item.price || {};
          = self.price(price.value, price.currency, self.settings.market_displayed_currency, self.currency_rates[price.currency])

        .market-item-buy__info
          .market-item-buy__info-item!= self.timetag(self.item.ts, 'relative')
          .market-item-buy__info-item
            if user
              a.market-item-buy__user-link._ucard-popover(
                href=self.link_to('users.member', { user_hid: user.hid })
                data-user-id=user._id
                data-user-ref='market_item_buy:'+self.section.hid+':'+self.item.hid
              )
                = user.name
          .market-item-buy__info-item
            a.market-item-buy__section-link(
              href=self.link_to('market.section.buy', { section_hid: self.section.hid })
            )
              = self.section.title

          if self.item.del_by
            - var delUser = self.users[self.item.del_by] || {}
            p.page-head__descr.market-item-buy__meta-deleted
              = self.t('del_by')
              = ' '
              a(href=self.link_to('users.member', { user_hid: delUser.hid }))= delUser.name
              if self.item.del_reason
                = ' '
                = self.t('del_reason', { text: self.item.del_reason })

      != self.partial('@market.item.buy.blocks.toolbar_controls')

    if self.item.files && self.item.files.length > 0
      ul.market-item-buy__attach-list.thumb-grid.thumb-grid__m-market
        each file in self.item.files
          li.market-item-buy__attach-item.thumb-grid__item
            .thumb-grid__item-inner
              a.thumb.thumb__m-market(
                href=self.link_to('core.gridfs', { bucket: file })
                data-bs-toggle='lightbox'
                data-type='image'
                data-gallery='market-gallery'
              )
                img.thumb__image(src=self.link_to('core.gridfs', { bucket: file + '_sm' }))

    .market-item-buy__description.markup!= self.item.html

    .market-item-buy__details
      if self.item.location
        .market-item-buy__details-item
          .market-item-buy__details-key= self.t('location')
          .market-item-buy__details-value
            a.market-item-buy__location-link(
              href= '#'
              data-on-click= 'common.blocks.location_show_dlg'
              data-latitude= self.item.location && self.item.location[1]
              data-longitude= self.item.location && self.item.location[0]
            )
              span.icon.icon-location.icon-space-after

              if self.location_name
                = self.location_name

      .market-item-buy__details-item
        .market-item-buy__details-key= self.t('condition')
        .market-item-buy__details-value= self.item.is_new ? self.t('condition_new') : self.t('condition_used')

      .market-item-buy__details-item
        .market-item-buy__details-key= self.t('delivery')
        .market-item-buy__details-value= self.item.delivery ? self.t('delivery_available') : self.t('delivery_not_available')

      if self.item.barter_info
        .market-item-buy__details-item
          .market-item-buy__details-key= self.t('barter_info')
          .market-item-buy__details-value= self.item.barter_info

    footer.market-item-buy__controls
      ul.market-item-buy__controls-blk

        li.market-item-buy__control-item.market-item-buy__ts
          != self.timetag(self.item.ts, 'relative')

        - var infraction = self.infractions[self.item._id];
        if infraction
          li.market-item-buy__control-item.market-item-buy__infraction(
            class=infraction.points === 0 ? 'market-item-buy__infraction-m-warning' : ''
          )
            a.btn.market-item-buy__action(
              title=self.t('infraction_title', { points: infraction.points, date: self.date(infraction.ts, 'datetime') })
              href=self.link_to('users.member', { user_hid: user && user.hid }) + '#infraction' + infraction._id
            )
              span.icon.icon-infraction

        if self.settings.can_report_abuse
          li.market-item-buy__control-item
            button.btn.market-item-buy__action.market-item-buy__report(
              title=self.t('report')
              data-item-id=self.item._id
              data-on-click='market.item.buy:report'
            )
              span.icon.icon-report

        if self.runtime.is_member
          li.market-item-buy__control-item.market-item-buy__bookmark
            button.btn.market-item-buy__action.market-item-buy__bookmark-add(
              data-on-click='market.item.buy:item_bookmark'
              data-item-id=self.item._id
              title=self.t('bookmark_add')
            )
              span.icon.icon-bookmark
              span.market-item-buy__bookmarks-count(data-bm-count=self.item.bookmarks)

            button.btn.market-item-buy__action.market-item-buy__bookmark-remove(
              data-on-click='market.item.buy:item_bookmark'
              data-item-id=self.item._id
              data-remove='true'
              title=self.t('bookmark_remove')
            )
              span.icon.icon-bookmark
              span.market-item-buy__bookmarks-count(data-bm-count=self.item.bookmarks)

        if self.item.edit_count
          li.market-item-buy__control-item.market-item-buy__history
            button.btn.market-item-buy__action(
              title=self.t('last_edited', { date: self.date(self.item.last_edit_ts, 'datetime') })
              data-on-click='market.item.buy:history'
              data-item-id=self.item._id
            )
              span.icon.icon-history.icon-space-after= self.item.edit_count

        li.market-item-buy__control-item.market-item-buy__views
          span.icon.icon-views.icon-space-after(
            title=self.t('views')
          )
            = self.item.views

    .market-item-buy-responses
      if user && user._id === self.runtime.user_id
        if self.responses && self.responses.length > 0
          .market-item-buy-responses__header= self.t('responded')

          ul.market-item-buy-responses__item-list
            each response in self.responses
              li.market-item-buy-response
                - var from = self.users[response.user] || {};
                a.market-item-buy-response__link(
                  href=self.link_to('users.dialog', { dialog_id: response.dialog, message_id: response.message })
                )
                  img.market-item-buy-response__avatar(alt=from.name)&attributes(self.avatar(from, 'sm'))
                  = from.name

        else
          p.market-item-buy-responses__m-empty= self.t('no_responses')

      else if self.runtime.is_member
        button.btn.btn-secondary.market-item-buy__contact(
          data-on-click='market.item.buy:contact'
          data-to-nick=user.nick
          data-to-hid=user.hid
          data-ref='market_item_buy:'+self.section.hid+':'+self.item.hid
          data-item-id=self.item._id
        )= self.t('contact')

    if self.similar_items && self.similar_items.length > 0
      .market-item-buy-similar
        .market-item-buy-similar__header= self.t('similar_items')

        ul.market-item-buy-similar__item-list
          each s in self.similar_items
            li.market-item-buy-similar-item
              a.market-item-buy-similar-item__photo.thumb(
                href=self.link_to('market.item.buy', { section_hid: s.section_hid, item_hid: s.item.hid })
              )
                if s.item.files && s.item.files.length > 0
                  img.thumb__image(src=self.link_to('core.gridfs', { bucket: s.item.files[0] + '_sm' }))
                else
                  .thumb__content

              .market-item-buy-similar-item__info
                a.market-item-buy-similar-item__title(href=self.link_to('market.item.buy', { section_hid: s.section_hid, item_hid: s.item.hid }))
                  = s.item.title

                span.market-item-buy-similar-item__price
                  - var price = s.item.price || {};
                  = self.price(price.value, price.currency, self.settings.market_displayed_currency, self.currency_rates[price.currency])
