- var menu_rnd_id = 'rnd' + self.get_label_uid()

- var items = []

- items.push('user_items')
- items.push('currency')

- var show_menu = items.filter(function (item) { return item !== 'new_item'; }).length > 0;
- var user = self.users[self.item.user] || {};


.page-actions.market-item-sell__toolbar-controls
  if show_menu
    .page-actions__dropdown
      button.btn.btn-secondary.btn-square.icon.icon-dropdown.dropdown-toggle(
        type='button'
        id=menu_rnd_id
        aria-haspopup='true'
        aria-expanded='false'
        data-toggle='dropdown'
      )

      .dropdown-menu.dropdown-menu-right(aria-labelledby=menu_rnd_id)

        each item in items
          case item

            when 'user_items'
              a.dropdown-item(
                href=self.link_to('market.user.sell_active', { user_hid: user.hid })
              )= self.t('user_items')

            when 'currency'
              button.dropdown-item(
                type='button'
                data-on-click='market.blocks.currency_select:begin'
              )= self.t('currency')
