- self.add_raw_data('pagination', self.pagination)

- self.users = self.users || {};
- var user = self.users[self.user_id] || {};

article#content.market-user.market-user__m-wish-active(
  data-keymap= {
    'home': 'market.user.wish_active:nav_to_start',
    'end':  'market.user.wish_active:nav_to_end'
  }
)
  -
    var navbar_args = {
      title:    self.t('title_with_user', { user: user.nick }),
      level_up: self.link_to('market.index.buy'),
      toolbar:  'market.user.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('market.user.wish_active', { user_hid: user.hid }),
        link_bottom: self.link_to('market.user.wish_active', { user_hid: user.hid, $query: { from: self.last_item_hid } }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      }
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-user__head
      .market-user__meta
        h1.market-user__title.page-head__title(itemprop='name')= self.t('title')

        .market-user__author
          a.market-user__author-link._ucard-popover(
            href=self.link_to('users.member', { user_hid: user.hid })
            data-user-id=self.user_id
          )
            img.market-user__avatar(alt=user.name)&attributes(self.avatar(user, 'sm'))
            = user.name

      != self.partial('@market.user.blocks.toolbar_controls')

    != self.partial('@market.user.tabs', { active_tab: 'wish_active' })

    .market-user__active
      if self.items_active && self.items_active.length
        ul.market-user__item-list
          != self.partial('@market.blocks.item_wish_list', { items: self.items_active, market_list_show_ignores: true, market_list_hide_user: true })
      else
        p.market-user__no-items
          != self.t('no_items')

    if self.items_closed && self.items_closed.length
      .market-user__closed
        .market-user__closed-title= self.t('closed_items')

        ul.market-user__item-list
          != self.partial('@market.blocks.item_wish_list', { items: self.items_closed, market_list_show_ignores: true, market_list_hide_user: true })
