article#content.market-index-sell
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-index-sell__head
      h1.market-index-sell__title.page-head__title(itemprop='name')= self.t('sell')

      != self.partial('@market.index.sell.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form_sell')

    .market-index-sell__switch-type
      a.market-index-sell__switch-type-link(href=self.link_to('market.index.buy'))= self.t('buy_link')

    .market-index-sell__categories
      each section in self.subsections
        .market-index-sell__section
          .market-index-sell__section-title
            a.market-index-sell__section-link(
              href=self.link_to('market.section.sell', { section_hid: section.hid })
            )= section.title

          each subsection in section.child_list
            .market-index-sell__subsection
              a.market-index-sell__subsection-link(
                class=subsection.is_linked ? 'market-index-sell__linked-section' : ''
                href=self.link_to('market.section.sell', { section_hid: subsection.hid })
              )= subsection.title
