- var itemStatuses = '$$ JSON.stringify(N.models.market.ItemOffer.statuses) $$'
- self.users = self.users || {};
- self.sections_by_id = self.sections_by_id || {};
- self.own_bookmarks = self.own_bookmarks || [];

//- show many operations checkbox
- var multiselect_allowed = self.settings.market_mod_can_delete_items || self.settings.market_mod_can_move_items;

each item in self.items
  if (self.ignored_users[item.user] && !self.settings.market_show_ignored && !self.market_list_show_ignores)
    //- skip entries created by ignored users

  else
    - var section = self.sections_by_id[item.section] || {};

    li.market-list-item-offer(
      id='item' + item.hid
      class=(item.st === itemStatuses.HB) ? 'market-list-item-offer__m-hellbanned' : ''
      class=([ item.st, item.ste ].indexOf(itemStatuses.CLOSED) !== -1) ? 'market-list-item-offer__m-closed' : ''
      class=(item.st === itemStatuses.DELETED) ? 'market-list-item-offer__m-deleted' : ''
      class=(item.st === itemStatuses.DELETED_HARD) ? 'market-list-item-offer__m-deleted-hard' : ''
      class=(self.own_bookmarks.indexOf(item._id) !== -1) ? 'market-list-item-offer__m-bookmarked' : ''
      class=self.ignored_users[item.user] ? 'market-list-item-offer__m-ignored' : ''
      data-item-id=item._id
      data-item-hid=item.hid
    )
      .market-list-item-offer__aside
        a.market-list-item-offer__photo.thumb.thumb__m-market(href=self.link_to('market.item.buy', { section_hid: section.hid, item_hid: item.hid }))
          if item.files && item.files.length > 0
            img.thumb__image(src=self.link_to('core.gridfs', { bucket: item.files[0] + '_sm' }))
          else
            .thumb__content= self.t('no_photo')

      .market-list-item-offer__info
        .market-list-item-offer__title
          span.market-list-item-offer__bookmarked-marker.icon.icon-bookmark.icon-space-after(title=self.t('bookmarked'))
          span.market-list-item-offer__deleted-marker.icon.icon-x.icon-dimmed.icon-space-after(title=self.t('deleted'))
          a.market-list-item-offer__title-text(href=self.link_to('market.item.buy', { section_hid: section.hid, item_hid: item.hid }))
            = item.title
          if !item.is_new
            sub.market-list-item-offer__icon
              = ' '
              = self.t('used')

        .market-list-item-offer__price
          - var price = item.price || {};
          = self.price(price.value, price.currency, self.settings.market_displayed_currency, self.currency_rates[price.currency])

          if item.barter_info
            = ' '
            //- TODO: icon-exchange
            span.market-list-item-offer__icon.icon.icon-track-normal(title=self.t('icon_exchange'))

        .market-list-item-offer__location
          if item.location
            a.market-list-item-offer__location-link(
              href= '#'
              data-on-click= 'common.blocks.location_show_dlg'
              data-latitude= item.location && item.location[1]
              data-longitude= item.location && item.location[0]
            )
              span.icon.icon-location.icon-space-after

              if self.location_names[item.location[0] + ':' + item.location[1]]
                = self.location_names[item.location[0] + ':' + item.location[1]]

          if item.delivery
            = ' '
            //- TODO: icon-delivery
            span.market-list-item-offer__icon.icon.icon-track-tracking(title=self.t('icon_delivery'))

        .market-list-item-offer__details
          .market-list-item-offer__details-item!= self.timetag(item.ts, 'relative')

          if !self.market_list_hide_user
            .market-list-item-offer__details-item
              - var user = self.users[item.user];
              if user
                a.market-list-item-offer__user-link._ucard-popover(
                  href=self.link_to('users.member', { user_hid: user.hid })
                  data-user-id=user._id
                  data-user-ref='market_list_item_offer:'+section.hid+':'+item.hid
                )= user.name

          .market-list-item-offer__details-item
            a.market-list-item-offer__section-link(
              href=self.link_to('market.section.buy', { section_hid: section.hid })
            )
              = section.title

        .market-list-item-offer__meta-ignored.icon.icon-ignore.icon-space-after
          = self.t('ignored')
        .market-list-item-offer__meta-hellbanned
          = self.t('hellbanned')

        if item.del_by
          - var delUser = self.users[item.del_by] || {}
          .market-list-item-offer__meta-deleted
            = self.t('del_by')
            = ' '
            a.market-list-item-offer__meta-del-by._ucard-popover(
              href=self.link_to('users.member', { user_hid: delUser.hid })
              data-user-id=delUser._id
              data-user-ref='market_list_item_offer:'+section.hid+':'+item.hid
            )= delUser.name

            if item.del_reason
              = ' '
              = self.t('del_reason', { text: item.del_reason })

      if multiselect_allowed
        label.market-list-item-offer__select(title=self.t('multiselect_hint'))
          input.market-list-item-offer__select-cb(
            type='checkbox'
            data-item-id=item._id
            data-on-change='market.blocks.item_offer_list:item_check'
          )
