article#content.market-section
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-section__head
      h1.market-section__title.page-head__title(itemprop='name')= self.section.title

      != self.partial('@market.section.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form')

    select.market-section__select-order.form-control.custom-select
      option(selected)= self.t('order_by_date')
    
    .market-section__subsections
      each section in self.subsections
        .market-section__subsection(
          class=section.is_linked ? 'market-section__linked' : ''
        )
          a.market-section__subsection-title(
            href=self.link_to('market.section', { section_hid: section.hid })
          )= section.title

          span.market-section__subsection-count
            = ' '
            = '0'

    ul.market-section__item-list
      each item in [ 1, 2, 3 ]
        li.market-section-item
          .market-section-item__photo.thumb
            img.thumb__image(src=self.link_to('core.gridfs', { bucket: '5b51f0e9ad5e67256238bed8_sm' }))
          .market-section-item__info
            .market-section-item__title
              a(href=self.link_to('market.item', { section_hid: self.section.hid, item_hid: 123 }))
                = 'Самолёт для FPV 1800 мм'
              sub.market-section-item__icon
                = ' '
                = 'б/у'

            .market-section-item__price
              = '1 800 ₽'
              = ' '
              //- TODO: icon-exchange
              span.market-section-item__icon.icon.icon-track-normal(title=self.t('icon_exchange'))

            .market-section-item__location
              = 'Новосибирск'
              = ' '
              //- TODO: icon-delivery
              span.market-section-item__icon.icon.icon-track-tracking(title=self.t('icon_delivery'))

            .market-section-item__details
              .market-section-item__details-item= '10 Aug'
              .market-section-item__details-item= 'username'
              .market-section-item__details-item= 'Готовые самолёты и наборы'
