- self.users = self.users || {};
- self.sections_by_id = self.sections_by_id || {};

//- show many operations checkbox
- var multiselect_allowed = false;

each item in self.items
  if (self.ignored_users[item.user] && !self.settings.market_show_ignored)
    //- skip entries created by ignored users

  else
    - var section = self.sections_by_id[item.section] || {};

    li.market-section-wish-item(
      id='item' + item.hid
      class=(self.ignored_users[item.user]) ? 'market-section-wish-item__m-ignored' : ''
      data-item-id=item._id
      data-item-hid=item.hid
    )
      .market-section-wish-item__info
        .market-section-wish-item__title
          a.market-section-wish-item__title-text(href=self.link_to('market.item.wish', { section_hid: section.hid, item_hid: item.hid }))
            = item.title

        .market-section-wish-item__location
          if item.location
            a.market-section-wish-item__location-link(
              href= '#'
              data-on-click= 'common.blocks.location_show_dlg'
              data-latitude= item.location && item.location[1]
              data-longitude= item.location && item.location[0]
            )
              span.icon.icon-location.icon-space-after

              if self.location_names[item.location[0] + ':' + item.location[1]]
                = self.location_names[item.location[0] + ':' + item.location[1]]

        .market-section-wish-item__details
          .market-section-wish-item__details-item!= self.timetag(item.ts, 'relative')
          .market-section-wish-item__details-item
            - var user = self.users[item.user];
            if user
              a.market-section-wish-item__user-link._ucard-popover(
                href=self.link_to('users.member', { user_hid: user.hid })
                data-user-id=user._id
                data-user-ref='market_section_wish_item:'+section.hid+':'+item.hid
              )
                span.market-section-wish-item__ignored-mark.icon.icon-ignore.icon-space-after
                = user.name

      if multiselect_allowed
        label.market-section-wish-item__select(title=self.t('multiselect_hint'))
          input.market-section-wish-item__select-cb(
            type='checkbox'
            data-item-id=item._id
            data-on-change='market.section.wish:item_check'
          )
