article#content.market-index
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-index__head
      h1.market-index__title.page-head__title(itemprop='name')= self.t('sell')

      != self.partial('@market.index.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form')

    .market-index__switch-type
      a.market-index__switch-type-link(href="#")= self.t('buy_link')

    .market-index__categories
      each section in self.subsections
        .market-index__section
          .market-index__section-title
            a.market-index__section-link(
              href=self.link_to('market.section', { section_hid: section.hid })
            )= section.title

          each subsection in section.child_list
            .market-index__subsection
              a.market-index__subsection-link(
                class=subsection.is_linked ? 'market-index__linked-section' : ''
                href=self.link_to('market.section', { section_hid: subsection.hid })
              )= subsection.title
